@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #83c4a9, #1100f8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    background-color: rgb(255, 255, 255);
    width:25%;
    border-radius: 50px;
    margin:120px auto;
    padding:50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
}

.login-card-logo {
    margin-bottom: 2rem;
}
.login-card-logo img {
    width: 80px;
}

label {
    font-size: 20px;
}

#user {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

#pass {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;

}

#btn{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
  
}

#btn:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

@media screen and (max-width: 570px) {
    #form {
      width: 65%;
      margin-left:none;
      padding:40px;
    }
  }